<!-- <h3>Hover me !</h3> -->
<!-- <div class="row"> -->
        
    <div class="card">
        <div class="container">
            <div class="front">
                <p> 
                    <span></span>CourseHub propose des formations en ligne, s'adressant à toute personne qui souhaite d'apprendre à son rythme et de partager ses cours dans des domaine variés </p>
            </div>
            <div class="back">
                <p>CONCEPT</p>
            </div>
        </div>
    </div>
<div class="card">
        <div class="container">
            <div class="front">
                <p>
                    <span></span>Le site vous offre la possibilité d'adapter votre rythme d'apprentissage 
                    à vos contrainte de temps et d'organisation, d'acquérie plus de connaissances et 
                    partager votre savoir en proposant des cours complets. </p>
            </div>
            <div class="back"> 
                <p>AVANTAGE</p> 
            </div>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="front">
                <p>
                    <span></span>Inscription obligatoire
                    <br>
                    Accès gratuit 24h/24, 7j/7  
                    <br>
                    Disponible en français ou en anglais
                    <br>
                 </p>
            </div>
            <div class="back">
                <p>INFOS</p>
            </div>
        </div>
    </div>

