<!--The content below is only a placeholder and can be replaced.-->
<div id="page">
    <div id="sidebar" class="sidebar-toggle">
        <h3>MENU</h3>
    
    </div>
   
    <div id="content">
      
        <header>
                
        <app-navbar></app-navbar> 
        <div id="sidebar-toggle" (click)="toggleSideBar()">
                <i class="fa fa-arrow-left" ></i>
            </div>
        </header>
       
        <section id="main">
            <app-content></app-content> 
        </section>
        <footer>
            <app-footer> </app-footer>  
        </footer>
    </div>
</div>


