.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 6px 6px 8px 0px rgb(166, 184, 186);
}
.container {
    height: 100%;
}
.card-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
}
img {
    height: 50%;
    background-size: cover
}
.maj {
    font-size: 80%;
    text-align: center;
}
.card-body {
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
}
